* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.card {
    width: 285px;
    height: 383px;
    background-color: #B8B8B8;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_image{
    height: 278px;
    width: 278px;
    padding-inline: 4px;
    padding-block: 10px;
}

.card_price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-inline: 32px;
    margin-bottom: 25px;
}

.card_title{
    font-size: 18px;
}

.responsive-image {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover; 
}

.footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.banner_class{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}

.banner_class_text,.banner_class_image{
    border-radius: 30px;
    border: 2px solid gray;
}

.banner_class_text{
    width: 70%;
    padding: 30px;
    display: flex ;
    font-size: 23px;
}

.banner_class_image{
    width: 30%;
}

.banner_class_image > img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

header{
    margin-top: 20px;
}


/* Responsive Styles */
@media (max-width: 1420px) {

    /* Large to Medium */
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1050px) {

    /* Medium to Small */
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    /* Small to Very Small */
    .container {
        grid-template-columns: 1fr;
    }
}