* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 9px;
    padding-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_image{
    height: 278px;
    width: 278px;
    padding-inline: 4px;
    padding-block: 10px;
}

.card_price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-inline: 28px;
}

.card_title{
    font-size: 18px;
}

.responsive-image {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover; 
}


/* Responsive Styles */
@media (max-width: 1420px) {

    /* Large to Medium */
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {

    /* Medium to Small */
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    /* Small to Very Small */
    .container {
        grid-template-columns: 1fr;
    }
}